<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32010">
		<setting label="32001" type="number"   id="udpPort" default="8278"/>
		<setting label="32002" type="lsep"/>
		<setting label="32003" type="slider" id="lightsFullOn" option="percent" range="0,100" default="100"/>
		<setting label="32004" type="slider" id="lightsFullOff" option="percent" range="0,100" default="0"/>
		<setting label="32005" type="slider" id="lightsTheaterIntro" option="percent" range="0,100" default="50"/>
		<setting label="32006" type="slider" id="lightsComingAttractions" option="percent" range="0,100" default="30"/>
		<setting label="32007" type="slider" id="lightsPaused" option="percent" range="0,100" default="50"/>
		
		<setting label="32008" type="slider" id="lightsFadeTime" option="int" range="0,10" default="5"/>

		<setting label="32011" type="lsep"/>
		<setting label="32009" type="action" action="RunScript($CWD/resources/generateHAScript.py)"/>
	</category>
</settings>